{% extends '@IIABStudentTransfer/layout.html.twig' %}

{% block title %}{{ 'accountability.title'|trans( {} , 'IIABStudentTransferBundle') }}{% endblock %}

{% block pageTitle %}<h1>{{ 'accountability.header'|trans( {} , 'IIABStudentTransferBundle') }}</h1>

{% endblock %}

{% block body %}

    <p class="action"><a href="{{ url( 'stw_index' ) }}">{{ 'links.start'|trans( {} , 'IIABStudentTransferBundle') }}</a>
        {% if step > 0 %} | <a href="{{ url( 'stw_accountability' , { 'step' : step } ) }}">{{ 'links.goBack'|trans( {} , 'IIABStudentTransferBundle') }}</a>{% endif %}
    </p>
    {% if step > 0 %}
        <p class="step">{{ 'base.step'|trans( {} , 'IIABStudentTransferBundle' ) }} {{ step + 1 }}</p>
    {% endif %}
    {% if step is defined %}
        <div class="clearfix clear"></div>
        <p>{{ ('accountability.step' ~ step)|trans( {} , 'IIABStudentTransferBundle' ) }}</p>

        {% if step == 0 %}

            {% if app.request.locale == 'en' %}
                {% if message.settingValue is defined and message.settingValue is not empty and step == 0 %}
                    <div class="clearfix clear"></div>
                    <div class="notice message">
                        <p>{{ message.settingValue }}</p>
                    </div>
                {% endif %}
            {% else %}
                {% if message.settingValueEs is defined and message.settingValueEs is not empty and step == 0 %}
                    <div class="clearfix clear"></div>
                    <div class="notice message">
                        <p>{{ message.settingValueEs }}</p>
                    </div>
                {% endif %}
            {% endif %}

        {% endif %}

    {% endif %}


    {{ form_start( form , { 'attr': { 'autocomplete': 'off' , 'novalidate': 'novalidate' } } ) }}
    {{ form_errors( form ) }}


    {% if nonFormFields is defined %}
        {{ include( 'IIABStudentTransferBundle:Default:textFields.html.twig' , { 'textFields': nonFormFields } ) }}
    {% endif %}


    {% if form.studentID is defined %}
        <div>
            {{ form_label(form.studentID) }}
            {{ form_widget(form.studentID) }}
            <a href="#" onclick="return false;" class="tooltip">
                ?
                    <span>
                        <img class="callout" src="{{ asset( '/bundles/iiabstudenttransfer/images/callout.gif' ) }}" />
                        <strong>{{ 'tooltipStudentID.heading'|trans( {} , 'IIABStudentTransferBundle' ) }}</strong><br />
                        {{ 'tooltipStudentID.body'|trans( {} , 'IIABStudentTransferBundle' )|raw }}
                    </span>
            </a>
            {{ form_errors(form.studentID) }}
        </div>
    {% endif %}


    {% if form.siblingID is defined %}
        <div>
            {{ form_label(form.siblingID) }}
            {{ form_widget(form.siblingID) }}
            <a href="#" onclick="return false;" class="tooltip">
                ?
                    <span>
                        <img class="callout" src="{{ asset( '/bundles/iiabstudenttransfer/images/callout.gif' ) }}" />
                        <strong>{{ 'tooltipStudentID.heading'|trans( {} , 'IIABStudentTransferBundle' ) }}</strong><br />
                        {{ 'tooltipStudentID.body'|trans( {} , 'IIABStudentTransferBundle' )|raw }}
                    </span>
            </a>
        </div>
    {% endif %}

    {% if form.transfer_option is defined %}
        <div>
            {{ form_row(form.transfer_option) }}
        </div>
    {% endif %}

    {% if form.correctInfo is defined %}
    <p>{{ 'accountability.correctInfo.instructions'|trans( {} , 'IIABStudentTransferBundle' ) }}</p>
    {% endif %}


    {% if form.wrongInfo is defined %}
        <div class="wrongInfo">
            {{ form_label(form.wrongInfo) }}
            {{ form_widget(form.wrongInfo) }}
        </div>
    {% endif %}

    {% if form.correctInfo is defined %}
        <div class="correctInfo">

            {{ form_label(form.correctInfo) }}
            {{ form_widget(form.correctInfo) }}
        </div>

    {% endif %}

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}


{% block disclaimer %}
    <p>{{ 'accountability.footer.disclaimer'|trans( {} , 'IIABStudentTransferBundle' ) }}</p>
{% endblock %}