{{ include('@IIABStudentTransfer/Report/header.html.twig') }}

<div class="push">
    <p>Guardian of {{ submission.firstName }} {{ submission.lastName }}<br />
        {{ submission.address }}<br />
        {{ submission.city }}, AL {{ submission.zip }}</p>

    <p>RE: Majority-to-Minority Transfer Status for Confirmation Number: {{ submission.confirmationNumber }}</p>

    <p>Your application for a Majority-to-Minority Student Transfer for {{ submission.firstName }} {{ submission.lastName }} for {{ submission.enrollmentPeriod }} has been approved for the following: <strong>{{ submission.awardedSchoolID.formattedString }}</strong></p>

    <p><strong>You have two choices for accepting or declining this transfer</strong>:</p>
    <div>
        <p>You may go online at <strong>{{ url( 'stw_lottery_accept' , { uniqueID: submission.url } ) }}</strong> to accept or decline this transfer.</p>
        <p>You may call the TCS Attendance Office at 205-759-3700, Monday-Friday between 8:30am and 4:00pm, for instructions regarding accepting or declining by phone.</p>
    </div>


    <table width="100%" border="0" cellspacing="0" cellpadding="6" style="table-layout:fixed; margin-bottom: 10px;">
        <tbody>
        <tr>
            <td width="40%" style="font-weight:bold;"><strong>Deadline to Accept or Decline:</strong></td>
            <td width="60%" style="font-weight:bold;" align="center"><strong>{{ acceptOnlineDate }}; {{ acceptOnlineTime }} online<br />OR<br />{{ acceptOfflineDate }}; {{ acceptOfflineTime }} by phone</strong></td>
        </tr>
        </tbody>
    </table>


    <table width="100%" border="0" cellspacing="0" cellpadding="6" style="table-layout:fixed; border:1px solid #000000; margin-bottom: 10px;">
        <tbody>
        <tr>
            <td style="font-weight:bold;"><strong>IMPORTANT: If you do not accept or decline online or by phone by {{ acceptOnlineDate }}, your transfer offer will automatically be DECLINED; your student will not be allowed to transfer; and must attend the school for which they are zoned.</strong></td>
        </tr>
        </tbody>
    </table>
</div>
{{ include('@IIABStudentTransfer/Report/footer.html.twig') }}