{% extends '@IIABStudentTransfer/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block sonata_page_content_header %}
    <h2>{{ openEnrollment }} - Process {{ selected_form }}</h2>
    {{ render( controller('IIABStudentTransferBundle:Lottery:processingStatus') ) }}
{% endblock %}
{% block content %}

    <div class=


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Active Submissions: {{ submissions|length }}<br/><br/>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form.processForm) }}
                        <div class="clear clearfix"></div>
                        <p>&nbsp;</p>
                    </div>
                    <div class="clear clearfix"></div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}