{% extends '@IIABStudentTransfer/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block sonata_page_content_header %}
    <h2>{{ info.title }}</h2>
    {{ render( controller('IIABStudentTransferBundle:Lottery:processingStatus') ) }}
{% endblock %}
{% block content %}
    {{ form_start(form) }}
                <div class="box custom-box">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            {{  form_label(  form.pageTitle ) }}
                            {{  form_widget( form.pageTitle ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            {{  form_label(  form.body ) }}
                            {{  form_widget( form.body ) }}
                        </div>
                    </div>

                    <div class="col-md-12">
                        {{ form_widget( form.saveChanges ) }}
                    </div>
                    <br style="clear:left" />
                </div>
               
            </div>
    {{ form_end(form) }}
{% endblock %}